//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 21 00:11:14 2023
//! **************************************************************************

SCHEMATIC START;
COMP "btn0" LOCATE = SITE "P51" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P28" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "ckht" LOCATE = SITE "P183" LEVEL 1;
NET "ckht_BUFGP/IBUFG" BEL "ckht_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

